.mymessages-body {
  height: 100vh;
  background-color: red;
  display: flex;
  padding-top: 8rem;
}

.chat-menu-input{
   border-radius: 20px;
}


.chat-menu-wrapper,
.chat-box-wrapper {
  height: 100%;
}